$theme.sc-regular-size {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    color: $text-dark;
}

$theme.primary-header-view {
    background: $primary-brand;

    .primary-header-icon {
        background: $primary-dark;
        cursor: pointer;
    }

    .primary-header-title {
        text-align: left;
        line-height: 52px;
        border-bottom: $secondary-brand solid 4px;
        padding: 0px 52px 0px 16px;
        font-size: 16px;
        color: $text-light;
    }
}

$theme.primary-menu-view {
    background: $secondary-dark;

    .sc-label-view {
        line-height: 48px;
        padding: 0px 16px;
        color: $text-light;
        cursor: pointer;
    }
}

$theme.body-view {
    background: $body-brand;

    .all-cocktails-view {
        padding: 10px;
    }

    .personal-cocktails-view {
        padding: 10px;
    }

    .inventory-view {
        padding: 10px;
    }

    .help-view {
        padding: 10px;
    }

    .single-cocktail-view {
        padding: 10px;
    }
}