$theme.primary-header-view {
    background: blue;

    .primary-header-icon {
        background: orange;
    }

    .primary-header-title {
        background: cyan;
        text-align: center;
    }
}

$theme.primary-menu-view {
    background: white;

    .sc-label-view {
        background: yellow;
    }
}

$theme.body-view {
    .all-cocktails-view {
        background: purple;
    }

    .personal-cocktails-view {
        background: red;
    }

    .inventory-view {
        background: green;
    }

    .help-view {
        background: gray;
    }

    .single-cocktail-view {
        background: pink;
    }
}